#player{
    
    position: absolute;
    background: url(character1.jpg)no-repeat;
    width: 109px;
    height: 159px;
    border: 1px solid red;
}



#map{
    
    border: 1px solid black;
    height: 309px;
    width: 609px;
}